.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

.gridListdemoDynamicTiles md-icon {
    width: 50%;
    height: 30%; }
.gridListdemoDynamicTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
    font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
    font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
    display: block;
    padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
    padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
    margin: 8px; }
.gridListdemoDynamicTiles .gray {
    background: #f5f5f5; }
.gridListdemoDynamicTiles .green {
    background: #b9f6ca; }
.gridListdemoDynamicTiles .yellow {
    background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
    background: #84ffff; }
.gridListdemoDynamicTiles .darkBlue {
    background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
    background: #448aff; }
.gridListdemoDynamicTiles .purple {
    background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
    background: #8c9eff; }
.gridListdemoDynamicTiles .red {
    background: #ff8a80; }
.gridListdemoDynamicTiles .pink {
    background: #ff80ab; }
.gridListdemoDynamicTiles md-grid-tile {
    transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
    padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
    width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center; }


#champions-grid md-grid-tile:hover{
    cursor: pointer;
}
#splash{
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 100%;

}
#loader{
    position: absolute;
    margin-left: 50%;
    margin-right: -50%;
    z-index: 99999;
    top : 50%;
}



#span{
    margin-left: 35%;

    font:  bold 60px/150px Georgia, serif
}
tr{
    background-color: transparent !important;
}

#div-statistics, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length {
    color: darkseagreen !important;
}

.dataTables_wrapper {
    background-color: rgba(0,0,0,.8);
}
