<div id="div-statistics" >
    <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-warn" id="loader" ng-show="isLoading" ></md-progress-circular>
    <img id="splash" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{vm.key}}_0.jpg"/>
    <div>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" flex="30" ng-click="vm.setTab(1)">Challengers</md-button>
            <md-button class="md-raised md-primary" flex="30" ng-click="vm.setTab(2)">Masters</md-button>
            <md-button class="md-raised md-primary" flex="30" ng-click="vm.volver()">Volver</md-button>
        </section>
    </div>
    <div id="primera_tabla" ng-show="vm.isTab(1)">
        <table datatable="ng" >
            <thead>
                <tr>
                    <th>Nombre de Invocador</th>
                    <th title="Rocket Ranking Score">RRS</th>
                    <th>Partidas Jugadas</th>
                    <th>Victorias / Derrotas</th>
                    <th>CS</th>
                    <th>Gold</th>
                    <th>K/D/A</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="challenger in vm.challengerStats">
                    <td>{{ challenger.playerOrTeamName}}</td>
                    <td>{{ vm.getRRS(challenger) }}</td>
                    <td>{{ challenger.champStats.totalSessionsPlayed }}</td>
                    <td>{{ challenger.champStats.totalSessionsWon + " / " + challenger.champStats.totalSessionsLost }}</td>
                    <td>{{ vm.round(challenger.champStats.totalMinionKills / challenger.champStats.totalSessionsPlayed) }}</td>
                    <td>{{ vm.round(challenger.champStats.totalGoldEarned / challenger.champStats.totalSessionsPlayed) }}</td>
                    <td>{{ vm.round(challenger.champStats.totalChampionKills / challenger.champStats.totalSessionsPlayed) + " / " + vm.round(challenger.champStats.totalDeathsPerSession / challenger.champStats.totalSessionsPlayed) + " / " + vm.round(challenger.champStats.totalAssists / challenger.champStats.totalSessionsPlayed) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="segunda_tabla" ng-show="vm.isTab(2)">
        <table datatable="ng"  dt-instance="vm.dtInstance1">
            <thead>
                <tr>
                    <th>Nombre de Invocador</th>
                    <th title="Rocket Ranking Score">RRS</th>
                    <th>Partidas Jugadas</th>
                    <th>Victorias / Derrotas</th>
                    <th>CS</th>
                    <th>Gold</th>
                    <th>K/D/A</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="master in vm.masterStats">
                    <td>{{ master.playerOrTeamName}}</td>
                    <td>{{ vm.getRRS(master)}}</td>
                    <td>{{ master.champStats.totalSessionsPlayed }}</td>
                    <td>{{ master.champStats.totalSessionsWon + " / " + master.champStats.totalSessionsLost }}</td>
                    <td>{{vm.round( master.champStats.totalMinionKills / master.champStats.totalSessionsPlayed) }}</td>
                    <td>{{ vm.round(master.champStats.totalGoldEarned / master.champStats.totalSessionsPlayed) }}</td>
                    <td>{{ vm.round(master.champStats.totalChampionKills / master.champStats.totalSessionsPlayed) + " / " + vm.round(master.champStats.totalDeathsPerSession / master.champStats.totalSessionsPlayed) + " / " + vm.round(master.champStats.totalAssists / master.champStats.totalSessionsPlayed) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
