<md-grid-list id="champions-grid"
              md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="4:3"
              md-gutter="8px" md-gutter-gt-sm="4px" >
    <md-grid-tile ng-repeat="champ in vm.champions.data"
                  md-rowspan="{{champ.span.row}}"
                  md-colspan="{{champ.span.col}}"
                  md-colspan-sm="1"
                  ng-class="champ.background"
                  ng-click="vm.sayhi(champ)">

        <img src="http://ddragon.leagueoflegends.com/cdn/5.22.3/img/champion/{{champ.key}}.png" />
        <md-grid-tile-footer><h3>{{champ.name}}</h3></md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
